@use '../../styles/styles.scss' as *;

.landing {
    padding: 0.5rem;
    justify-content:flex-start;
    background-color: $primaryHover;

    &__title {
        @include title; 
    }

    &__section {
        padding: 1rem;
        border-top: 2px solid $black;
        background-color: $white;
    }

    &__section--main {
        background-color: $primaryHover;
        border-top: none;
        padding: 1rem;
        
        min-height: 100vh;
        min-height: 100dvh;
        margin-bottom: 2rem;

        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    &__section--cta {
        background-color: $primaryHover;
        border-top: none;
    }

    &__testimonial {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 2rem;

        }

    &__description--centered {
        text-align: center
    }

    &__heading {
        @include heading;
        margin-bottom: 2rem;
        color: $black;
        text-shadow: 3px 3px $secondaryhov;
    }

    &__heading--main {
        color: $black;
        text-shadow: 3px 3px $white;
        margin-bottom: 1rem;
    }

    &__subheading {
        margin-bottom: 0;
        text-shadow: none;
        font-size: 2rem;
    }

    &__subheading--fact {
        width: 100%;
        display: flex;
        justify-content: center;
        font-size: 2.5rem;
        font-family: 'Numbers', sans-serif;
        z-index: 2;
    }

    &__icon {
        width: 2.5rem;
        position: absolute;
        right: -0.7rem;
        top: -0.7rem;
    }

    &__fact {
        margin-bottom: 2rem;
    }

    &__fact:last-of-type {
        margin-bottom: 0;
    }

    &__heading-div {
        width: fit-content;
        display: flex;
        position: relative;
    }


    &__testimonial:last-of-type {
        margin-bottom: 0;
    }

    &__substring {
        font-weight: 200;
        font-size: 1rem;
        margin-bottom: 0.5rem;
    }

    &__image {
        width: 100%;
        background-color: $white;
        padding: 1rem;
        border-radius: 14px;
        margin-bottom: 1rem;
    }

    &__image--user {
        border-radius: 50%;
        width: 10rem;
        height: 10rem;
        background-color: $secondaryhov;
        padding: 0;
    }

    &__span {
        font-weight: 900
    }

    &__fact {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__description {
        @include description;
        margin-bottom: 1rem
    }

    &__description--fact {
        text-align: center;
        padding: 0 0.5rem;
        font-size: 1.4rem
    }

    &__cta {
        @include cta;
    }

    &__cta:hover{
        @include ctaHover;
    }

    &__section--facts {
        border-bottom-left-radius: 2rem;
        border-bottom-right-radius: 2rem;
        
    }

    &__section--mission {
        border-top-left-radius: 2rem;
        border-top-right-radius: 2rem;
        border-top: none ;
    }

    &__footer {
        padding: 1.5rem;
        background-color: $backgroundHtml;
    }

    &__footer-section {
        display: flex;
        justify-content: space-between;
        padding: 1rem;
    }

    &__footer-icon {
        width: 100%;
        height: 100%;
    }

    &__footer-icon-div {
        padding: 0.5rem;
        border: 1px solid white;
        border-radius: 8px;
        width: 2.5rem;
        height: 2.5rem;
        transition: 0.2s;
        cursor: pointer;
    }

    &__footer-icon-div:hover {
        background-color: $secondaryhov;
        border: 1px solid $secondaryhov;
    
    }

    &__footer-image {
        
    }

    &__substring--footer {
        color: $white;
        text-align: center;
        line-height: 1.5rem;
    }

    &__footer-section:last-of-type {
        flex-direction: column;
    }

}