@use '../../styles/styles.scss' as *;

.landing {
    padding: 0.5rem;
    background-color: $primaryHover;
    @include tablet {
        padding: 2rem
    }
    @include desktop {
        display: flex;
        flex-direction: column;
        align-items: center
    }

    &__title {
        @include title; 
        @include tablet {
            font-size: 2.2rem;
        }
    }

    &__bottom {
            display: flex;
            flex-direction: column;
            align-items: center;
    }

    &__section {
        padding: 1rem;
        // border-top: 2px solid $black;
        background-color: $white;
        @include tablet {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 2rem;
        }
        @include desktop {
            width: 35rem;
            padding: 2rem 0;
        }
    }

    &__section--main {
        background-color: $primaryHover;
        border-top: none;
        padding: 1rem;
        
        min-height: calc(100vh - 2rem);
        min-height: calc(100dvh - 2rem);
        margin-bottom: 2rem;

        @include tablet {
            min-height: calc(100vh - 4rem);
            min-height: calc(100dvh - 4rem);
        }

        display: flex;
        flex-direction: column;
        justify-content: space-between;

    }

    &__section--cta {
        background-color: $primaryHover;
        border-top: none;
        @include tablet {

        }
    }

    &__testimonial {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 2rem;

        }

    &__description--centered {
        text-align: center
    }

    &__heading {
        @include heading;
        margin-bottom: 2rem;
        @include tablet {
            margin-bottom: 2rem;
            text-align: center;
            font-size: 3rem;
        }
    }

    &__heading--main {
        color: $black;
        text-shadow: 3px 3px $white;
        margin-bottom: 1rem;
        @include tablet {
            margin-bottom: 2rem;
        }
    }

    &__subheading {
        margin-bottom: 0;
        text-shadow: none;
        font-size: 2rem;
        @include subheading;
        @include tablet {
            font-size: 2.2rem
        }
    }

    &__subheading--fact {
        width: 100%;
        display: flex;
        justify-content: center;
        font-size: 2.5rem;
        font-family: 'Numbers', sans-serif;
        z-index: 2;
        @include tablet {
            font-size: 3rem;
        }
    }

    &__icon {
        width: 2.5rem;
        position: absolute;
        right: -0.7rem;
        top: -0.7rem;
    }

    &__fact {
        margin-bottom: 2rem;
    }

    &__fact:last-of-type {
        margin-bottom: 0;
    }

    &__heading-div {
        width: fit-content;
        display: flex;
        position: relative;
    }


    &__testimonial:last-of-type {
        margin-bottom: 0;
    }

    &__substring {
        font-weight: 200;
        font-size: 1rem;
        font-family: "Numbers", sans-serif;
        color: rgb(91, 91, 91);
        margin-bottom: 0.5rem;
        @include tablet {
            margin-bottom: 1rem;
        }
    }

    &__image {
        width: 100%;
        background-color: $white;
        padding: 1rem;
        border-radius: 14px;
        margin-bottom: 1rem;
        max-width: 15rem;
    }

    &__image--user {
        border-radius: 50%;
        width: 10rem;
        height: 10rem;
        background-color: $secondaryhov;
        padding: 0;
    }

    &__span {
        font-weight: 900
    }

    &__fact {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__description {
        @include description;
        margin-bottom: 1rem;
        @include tablet {
            margin-bottom: 2rem;
            max-width: 25rem;
            text-align: center;
        }
        @include tablet {
            font-size: 1.4rem;
        }
    }

    &__description--fact {
        text-align: center;
        padding: 0 0.5rem;
        font-size: 1.4rem;
        @include tablet {
            font-size: 1.6rem;
            padding: 0 1rem;
        }
    }

    &__cta {
        @include cta;
        @include tablet {
            font-size: 1.6rem;
            width: 18rem;
            height: 3rem;
        }
    }

    &__cta:hover{
        @include ctaHover;
    }

    &__section--facts {
        border-bottom-left-radius: 1rem;
        border-bottom-right-radius: 1rem;
        @include tablet {
            border-bottom-left-radius: 4rem;
            border-bottom-right-radius: 4rem;
        }
        
    }

    &__reserved {
        font-family: 'Numbers', sans-serif;
    }

    &__section--mission {
        border-top-left-radius: 1rem;
        border-top-right-radius: 1rem;
        border-top: none ;
        @include tablet {
            border-top-left-radius: 4rem;
            border-top-right-radius: 4rem;
        }
    }

    &__footer {
        padding: 1.5rem;
        background-color: $backgroundHtml;
        @include tablet {
            padding: 2rem;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    
    }

    &__footer-section {
        display: flex;
        justify-content: space-between;
        padding: 1rem;
    }

    &__footer-section--bottom {
            display: flex;
            flex-direction: column;
            align-items: center;
    }

    &__footer-section--icons {
        display: flex;
        justify-content: space-between;
        padding: 1rem;
        @include tablet {
            padding: 1rem 2rem;
            width: 24rem;
        }
    }

    &__footer-icon {
        width: 100%;
        height: 100%;
    }

    &__footer-icon-div {
        padding: 0.5rem;
        border: 1px solid white;
        border-radius: 8px;
        width: 2.5rem;
        height: 2.5rem;
        transition: 0.2s;
        cursor: pointer;
        @include tablet {
            width: 3rem;
            height: 3rem;
        }
    }

    &__footer-icon-div:hover {
        background-color: $secondaryhov;
        border: 1px solid $secondaryhov;
    
    }

    &__substring--footer {
        color: $white;
        text-align: center;
        line-height: 1.5rem;
    }

    &__footer-section:last-of-type {
        flex-direction: column;
    }

}