@use '../../styles/styles.scss' as *;

.gymCard {
    margin-bottom: 2rem;
    position: relative;
    cursor: pointer;

    &__image {
        width: 100%;
        transition: 0.2s;
        vertical-align: bottom
    }

    &__heading {
        @include heading;
        font-size: 1.5rem;
        padding: 0.5rem;
        border-radius: 4px;
        margin-bottom: 0.5rem;
        width: fit-content;
        color: $text;
        background-color: $backgroundHtml;
    }

    &__bottom{
        visibility: hidden;
        opacity: 0;
        padding: 1rem;
        position: absolute;
        bottom: 0;
        transition: 0.3s;
    }

    &__content {
        border-radius: 4px;
        background-color: $black;
    }

    &__content:hover &__bottom {
        opacity: 1;
        visibility: visible;
    }

    &__content:hover &__image {
        filter:brightness(1.2)
    }

}

