@use '../../styles/styles.scss' as *;

.enter {
    @include page;

    &__title {
        @include title;
    }

    &__heading {
        @include heading;
        margin-bottom: 2rem;
    }

    &__input-div {
        position: relative;
        margin-bottom: 1.5rem;
    }

    &__input {
        height: 2.5rem;
        padding: 0.5rem;
        font-size: 1.2rem;
        width: 100%;
        border: 2px solid $black;
        background-color: transparent;
        outline: none;
        border-radius: 4px;
        color: $black;
        transition: 0.2s;
    }

    &__label {
        font-family: Numbers, sans-serif;
        background-color: $white;
        color: $black;
        padding: 0 0.3rem;
        position: absolute;
        left: 0.5rem;
        top: 0.7rem;
        font-size: 1rem;
        transition: 0.2s;
        cursor: text;
    }

    &__input:focus ~ &__label,
    &__input:valid ~ &__label {
        transform: translateY(-1.2rem);
        font-size: 0.8rem;
    }

    &__input:valid {
        border: 2px solid $green;
    }

    &__checked:invalid {
        border: 2px solid $accent;
    }

    &__footer {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
    }

    &__description-footer {
        padding: 1rem;
        @include description;
    }

    &__description {
        @include description;
    }

    &__link {
        @include link;
    }

    &__link:hover {
        color: $secondary;
    }

    &__buttons {
        padding: 1rem;
        background-color: $backgroundHtml;
        display: flex;

        }

    &__button--secondary {
        margin-top: 1rem;
        align-items: center;
        background-color: transparent;
        border: 2px solid #22252a;
        border-radius: 4px;
        color: #22252a;
        cursor: pointer;
        display: flex;
        font-family: 'NuberNext',sans-serif;
        font-size: 1.2rem;
        font-weight: 600;
        height: 2.5rem;
        justify-content: center;
        padding: 0 2rem;
        text-decoration: none;
        transition: .2s;
        width: 100%;
    }

    &__button--secondary:hover {
        color: $white;
        background-color: #22252a
    }

    &__button--cta {
        @include cta;
        width: 100%;
    }

    &__button--cta:hover {
        @include ctaHover;
    }

}