//variables
$primary:  hsla(220, 50%, 50%, 1);
$primaryHover: rgb(105, 155, 255);
$secondary: hsla(30, 50%, 50%, 1);
$secondaryhov: rgb(255, 172, 89);
$accent: hsla(0, 70%, 50%, 1);
$background: hsla(220, 10%, 15%, 1);
$black: hsla(220, 10%, 15%, 1);
$backgroundHtml: hsla(220, 10%, 10%, 1);
$text: hsla(0, 0%, 90%, 1);
$white: hsla(0, 0%, 90%, 1);
$green: #07bc0c;
$font: 'NuberNext', sans-serif;


//mixins
@mixin page {
    min-height: 100vh;
    min-height: 100dvh;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

@mixin title {
    color: white;
    text-shadow: 3px 3px $black;
    font-family: $font;
    font-size: 1.8rem;
    margin-bottom: 4rem;
    @include tablet {
        font-size: 2.2rem;
    }
}

@mixin heading {
    font-size: 2.2rem;
    color: $black;
    font-family: $font;
    color: $black;
    text-shadow: 3px 3px $secondaryhov;
    @include tablet {
        font-size: 2.5rem;
    }
}

@mixin subheading {
    font-size: 1.8rem;
    color: $black;
    font-family: $font;
    @include tablet {
        font-size: 2.2rem
    }

}

@mixin description {
    color: black;
    font-family: 'Numbers', sans-serif;
    font-size: 1rem;
    font-size: 1.2rem;
    @include tablet {
        font-size: 1.4rem;
    }

}

@mixin inputDiv {
    position: relative;
    border-radius: 4px;
}

@mixin label {
    font-family: $font;
    position: absolute;
    left: 0.5rem;
    top: 0.5rem;
    padding: 0 0.5rem;
    color: $black;
    transition: 0.2s;
}

@mixin input {
    border: none;
    border-bottom: 1px solid $black;
    text-align: center;
    padding-left: 0.5rem;
    width: 100%;
    outline: none;
    font-size: 1.2rem;
    background-color: transparent;
    color: $black;
}

@mixin cta {
        align-items: center;
        background-color: #ffac59;
        border: 2px solid #ffac59;
        border-radius: 4px;
        color: #22252a;
        cursor: pointer;
        display: flex;
        font-family: 'NuberNext',sans-serif;
        font-size: 1.2rem;
        font-weight: 600;
        height: 2.5rem;
        justify-content: center;
        padding: 0 2rem;
        text-decoration: none;
        transition: .2s;
        width: 15rem;
    
    @include tablet {
        font-size: 1.6rem;
        width: 18rem;
        height: 3rem;
    }
}

@mixin ctaHover {
    background-color: $secondary;
    border: 2px solid $secondary;
}

@mixin link {
    font-family: $font;
    color: $secondaryhov;
    cursor: pointer;
    transition: 0.2s;
    font-size: 1.2rem;
}

@mixin button {
    font-family: $font;
    color: $black;
    height: 2.5rem;
    font-size: 1.2rem;
    background-color: $secondaryhov;
    border: 2px solid $secondaryhov;
    width: 100%;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.2s;
}

@mixin button-hover {
    background-color: $secondary;
    border: 2px solid $secondary;
}


//fonts
@font-face {
    font-family:'NuberNext';
    src: url('../assets/fonts/Outfit-VariableFont_wght.ttf');
    font-weight: 0 1000;
}

@font-face {
    font-family:'Numbers';
    src: url('../assets/fonts/Numbers.ttf');
}



//dimensions
@mixin tablet {
    @media (min-width: 481px) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: 725px) {
        @content;
    }
}