@use '../../styles/styles.scss' as *;

.gyms {
    @include page;
    padding: 0;
    position: relative;

    &__content {
        padding: 1rem;
        position: relative;
    }

    &__title {
        @include title;
    }

    &__heading {
        @include heading;
    }

    &__top {
        margin-bottom: 1rem;
    }
}