@use '../../styles/styles.scss' as *;

.gym{
    @include page;
    padding: 0;
    position: relative;

    &__data--hidden {
        filter: blur(8px);
    }

    &__data {
        transition: 0.2s;
    }

    &__top {
        position: relative;
        width: fit-content;
    }

    &__background {
        width: 100%;
        border-radius: 4px;
        vertical-align: top;

    }

    &__logo {
        width: 8rem;
        height: 8rem;
        border-radius: 50%;
        background-size: cover;
        background-position: center;
        
    }

    &__absolute {
        position: absolute;
        bottom: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 100%;
        background-color: hsla(0, 0%, 0%, 30%);
        padding: 2rem;
        text-align: center; 
    }

    &__price {
        border: 2px solid $primaryHover;
        margin-bottom: 1rem;
        width: fit-content;
        padding: 0.5rem;
        border-radius: 4px;
        cursor: pointer;
        background-color: $primaryHover;
        transition: 0.2s;
        display: block;
        text-decoration: none;
    }

    &__price:hover {
        background-color: $primary;
        border: 2px solid$primary;
    }

    &__dynamic-price {
        // color: $primaryHover;
    }

    &__middle {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__title {
        @include heading;
    }

    &__description {
        @include description;
        width: fit-content;
        margin-bottom: 1rem;
        font-size: 1.1rem;
    }

    &__description--address {
        margin-bottom: 0.2rem;
        margin-top: 0;
        width: 100%;
        font-family: 'Numbers';
    }

    &__nav {
        position: fixed;
        bottom: 0;
        left: 0;
        display: flex;
        width: 100%;
        padding: 1rem;
        background-color: $backgroundHtml;
    }

    &__button--cta {
        margin-top: 1rem;
        @include cta;
        border: none;
        transition: 0.2s;
        width: fit-content;
        font-size: 1rem;
    }

    &__button--regular {
        @include cta;
        width: fit-content;
        margin-top: 1rem;
    }

    &__button--regular:hover {
        background-color: $secondary;
        border: 2px solid $secondary;
    }

    &__button--cta:hover {
        background-color: $secondary;
    }

    &__button--secondary {
        align-items: center;
        background-color: transparent;
        border: 2px solid #22252a;
        border-radius: 4px;
        color: #22252a;
        cursor: pointer;
        display: flex;
        font-family: 'NuberNext',sans-serif;
        font-size: 1.2rem;
        font-weight: 600;
        height: 2.5rem;
        justify-content: center;
        padding: 0 2rem;
        text-decoration: none;
        transition: .2s;
        width: 15rem;
    
    @include tablet {
        font-size: 1.6rem;
        width: 18rem;
        height: 3rem;
    }
    }

    &__button--secondary:hover {
        background-color: $secondaryhov;
    }

    &__content {
        padding: 1rem;
    }

    &__media {
        background-color: $primaryHover;
    }

    &__choices {
        visibility: hidden;
        opacity: 0;
        background-color: hsla(0, 0%, 100%, 0.8);
        position: absolute;
        top: 0;
        left: 0;
        transition: 0.2s;
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        padding: 2rem;
        justify-content: flex-end;
    }

    &__choice {
        color: $text;
        background-color: $backgroundHtml;
        width: fit-content;
        padding: 0.5rem;
        border-radius: 4px;
        margin-bottom: 1rem;
        font-size: 1.2rem;
        cursor: pointer;
        transition: 0.2s;
        border: 2px solid $backgroundHtml;
        font-family: 'Numbers', sans-serif;
    }

    &__choice:hover {
        color: $backgroundHtml;
        background-color: $text;
        border: 2px solid $backgroundHtml;

    }

    &__choice:last-of-type {
        margin-top: 2rem;
       
    }
    
    &__choices--display {
        visibility: visible;
        opacity: 1;
    }

    &__choice--delete {
        background-color: $accent;
        margin-bottom: 2.5rem;
        border: 2px solid $accent;
    }

    &__choice--delete:hover {
        background-color: white;
        border: 2px solid $accent;
        color: $accent
    }

    &__image-div {
        position: relative;
    }

    &__image-div--active {
        margin-bottom: 18rem;
    }

    &__schedule {
        width: 100%;
        margin-top: 1rem;
        border-radius: 4px;
        visibility: hidden;
        transition: 0.2s;
        opacity: 0;
        position: absolute;
        transform:translateX(-20rem)
    }

    &__schedule--open {
        visibility: visible;
        opacity: 1;
        transform: translateX(0px);
    }

    &__show-schedule {
        @include cta;
        width: fit-content;
        padding: 0 1rem;
        color: $text;
        background-color: $secondaryhov;
        border: 2px solid $secondaryhov;
        color: $black;
        font-size: 1rem;
    }

    &__show-schedule:hover {
        background-color: $secondary;
        border: 2px solid $secondary;
    }

    &__show-schedule--active {
        background-color: transparent;
        border: 2px solid $secondary;   
    }

    &__subheading {
        @include subheading;
    }

    &__subheading--contact {
        color: $white;
    }

    &__coach-image {
        width: 100%;
        background-color: $text;
        border-bottom: 2px solid $text;
    }

    &__coaches {
        margin-top: 2rem;
    }

    &__coach {
        border: 2px solid $text;
        background-color: $backgroundHtml
    }

    &__coach-description {
        padding: 1rem;
        background-color: $backgroundHtml
    }

    &__coach-name {
        @include description;
        font-size: 1.4rem;
        font-weight: bold;
    }

    &__coach-bio {
        @include description;
    }

    &__address-div {
        cursor: pointer;
        padding: 1rem;
        padding-left: 0;
    }

    &__price {
        @include description;
        font-size: 1rem;
    }

    &__media {
        padding: 1rem;
        margin-top: 2rem;
    }

    &__website {
        @include link;
        display: block;
        padding: 0.5rem;
        padding-left: 0;
        text-decoration: none;
        font-size: 1.4rem;
        transition: 0.2s;
        width: fit-content;
    }

    &__website:hover {
        color: $secondary;
    }

    &__icon {
        transition: 0.2s;
        visibility: hidden;
        opacity: 0;
        margin-left: 0.5rem;
    }

    &__icon--active {
        visibility: visible;
        opacity: 1;
    }

    &__media-icon {
        width: 2rem;
    }

    &__media-link {
        padding: 0.5rem;
        display: block;
        margin-right: 0.5rem;
    }

    &__media-link:first-of-type {
        padding-left: 0;
    }

    &__media-icon:first-of-type {
        width: 2rem;
    }

    &__media-icons {
        display: flex;
    }

    &__link-icon {
        position: relative;
        top: 5px;
        font-size: 1.6rem;
        margin-left: 3px;
    }


}