@use '../../styles/styles.scss' as *;

.header {
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: $primaryHover;
    width: 100%;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    max-height: 4.5rem;

    &__profile {
        font-size: 2.5rem;
        color: $black;
        margin-right: 1rem;
        display: flex;
        align-items: center;
        transition: 0.2s;
        cursor: pointer;
        background-color: $secondaryhov;
        border-radius: 50%;
    }

    &__profile:hover {
        background-color: $secondary;
    }

    &__form {
        display: flex;
        width: 100%;
    }

    &__input {
        width: 80%;
        border: none;
        outline: none;
        padding-left: 0.5rem;
        font-size: 1.2rem;
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
        background-color: $text;
        transition: 0.2s;
    }

    &__input:hover, &__input:focus {
        background-color: white;
    }

    &__cta {
        width: 20%;
        border: none;
        font-size: 1.3rem;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $secondaryhov;
        border-top-right-radius: 3px;
        border-bottom-right-radius: 3px;
        transition: 0.2s;
        cursor: pointer;
        height: 2.5rem;
    }

    &__cta:hover{
        background-color: $secondary;
    }

    &__icon {
        font-size: 2.5rem;
        display: flex;
        align-items: center;
        cursor: pointer;
    }

    &__icon--secondary {
        color: $secondaryhov;
    }

    &__icon--secondary:hover {
        color: $secondary;
    }

    &__icon--primary {
        color: $text;
        font-size: 2rem;
        display: flex;
        align-items: center;
    }

    &__icon-text {
        font-size: 1.5rem;
        color: $text;
        margin-right: 0.25rem;
    }

    &__icon--center {
        background-color: $primary;
        padding:0  0.5rem;
        border-radius: 4px;
        cursor: pointer;
        transition: 0.2s;
        height: 2.5rem;
    }

    &__icon--center:hover {
        background-color: $primaryHover;
    }
}