@use '../../styles/styles.scss' as *;

.create {
    @include page;

    &__heading {
        @include heading;
        
    }

    &__title {
        @include title;
    }

    &__input-div {
        position: relative;
        margin-bottom: 1.5rem;
    }

    &__input {
        height: 2.5rem;
        padding: 0.5rem;
        font-size: 1.2rem;
        width: 100%;
        border: 2px solid $black;
        background-color: transparent;
        outline: none;
        border-radius: 4px;
        color: $black;
        transition: 0.2s;
        resize: none;
    }

    &__label {
        color: $black;
        padding: 0 0.3rem;
        position: absolute;
        left: 0.5rem;
        top: 0.7rem;
        font-size: 1rem;
        transition: 0.2s;
        background-color: $text;
        cursor: text;
        font-family: 'Numbers', sans-serif;
    }

    &__input:focus ~ &__label,
    &__input:valid ~ &__label {
        transform: translateY(-1.2rem);
        font-size: 0.8rem;
    }

    &__input:valid {
        border: 2px solid $green;
    }

    &__checked:invalid {
        border: 2px solid $accent;
    }

    &__form {
        margin-bottom: 1rem;
    }

    &__form-section {
        margin-top: 3rem;
    }

    &__container {
        display: flex;
        gap: 1rem;
    }

    &__input--textarea {
        height: initial;
        font-family: 'NuberNext', sans-serif;
    }

    &__input--select {
        width: fit-content;
        border: 2px solid black !important;
        font-size: 1rem;
    }

    &__buttons {
        padding: 1rem;
        background-color: $backgroundHtml;
        display: flex;
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        }

    &__button--secondary {
        margin-top: 1rem;
        align-items: center;
        background-color: transparent;
        border: 2px solid #22252a;
        border-radius: 4px;
        color: #22252a;
        cursor: pointer;
        display: flex;
        font-family: 'NuberNext',sans-serif;
        font-size: 1.2rem;
        font-weight: 600;
        height: 2.5rem;
        justify-content: center;
        padding: 0 2rem;
        text-decoration: none;
        transition: .2s;
        width: 15rem;
    }

    &__button--secondary:hover {
        color: $white;
        background-color: #22252a
    }

    &__button--cta {
        @include cta;
    }

    &__button--cta:hover {
        @include ctaHover
    }
}

   

